body {
    padding-top: 70px;
    padding-bottom: 30px;
}

/*
 * error.html
 */
.jumbotron.error {
    background-color: #f2dede;
}

/*
 * login.html
 */
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

/*
 * edit.html
 */
.editor-container-title {
    margin-top: -15px;
}
.editor-container {
    margin-top: 5px;
    height: 100%;
}
.editor-container textarea {
    resize: none;
    background-color: #042029;
    color: #819090;
}
.editor-preview {
    overflow: scroll;
}
.editor-toolbar {
    position: fixed;
    bottom: 0px;
    height: 40px;
    background-image: linear-gradient(#fff, #eee 50%, #e4e4e4);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    filter: none;
}
.editor-toolbar .btn {
    margin-top: 5px;
}