<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/template :: head (title=${note.title}? #{notedown.templates.edit.title(${note.title})} : #{notedown.templates.edit.title-new})"></head>
    <body>
        <div th:replace="common/template :: header (page='app')"></div>
        <form method="post" th:action="@{/app/note}">
            <input type="hidden" id="id" name="id" th:value="${note.id}" />
            <div class="editor-container-title col-sm-12">
                <input type="text" id="title" name="title" class="form-control" th:value="${note.title}" th:placeholder="#{notedown.templates.edit.note-title}" maxlength="64" required="required"/>
            </div>
            <div class="editor-container col-sm-6">
                <textarea class="form-control" id="editor" th:text="${note.content}" name="content" ></textarea>
            </div>
            <div class="editor-container col-sm-6 hidden-xs">
                <div class="editor-preview" id="preview"></div>
            </div>
            <div class="editor-toolbar col-xs-12">
                <label class="hidden-xs">
                    <input type="checkbox" id="toggle-preview-pane" checked="checked" /> <span th:text="#{notedown.templates.edit.toggle-preview}"></span>
                </label>
                <label class="hidden-xs">
                    <input type="checkbox" id="toggle-autosave" /> <span th:text="#{notedown.templates.edit.toggle-autosave}"></span>
                </label>
                <button type="submit" class="btn btn-primary btn-sm pull-right" th:text="#{notedown.templates.edit.save-action}" th:attr="data-loading-text=#{notedown.templates.edit.save-loading}" id="submit-btn" />
            </div>
        </form>
        <div th:replace="common/template :: footer"></div>
        <script src="/js/edit.js"></script>
    </body>
</html>