<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/template :: head (title=#{notedown.templates.edit.title(${note.title})})"></head>
    <body>
        <div th:replace="common/template :: header (page='app')"></div>
        <form method="post" th:action="@{/app/note}">
            <input type="hidden" name="id" th:value="${note.id}" />
            <div class="editor-container-title col-sm-12">
                <input type="text" name="title" class="form-control" th:value="${note.title}" th:placeholder="#{notedown.templates.edit.note-title}" maxlength="64" required="required"/>
            </div>
            <div class="editor-container col-sm-6">
                <textarea class="form-control" id="editor" th:text="${note.content}" name="content" ></textarea>
            </div>
            <div class="editor-container col-sm-6">
                <div class="editor-preview" id="preview"></div>
            </div>
            <div class="editor-toolbar col-sm-12">
                <input type="submit" class="btn btn-primary btn-sm pull-right" th:value="#{notedown.templates.edit.save-action}" />
            </div>
        </form>
        <div th:replace="common/template :: footer"></div>
        <script src="/js/edit.js"></script>
    </body>
</html>