<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="common/template :: head (title='My notes')"></head>
    <body>
        <div th:replace="common/template :: header (page='app')"></div>
        <div class="container">
            <h1>Your notes</h1>
            <ul th:each="note : ${notes}">
                <li>
                    <span th:text="${note.title}"></span> - <a th:href="${'/app/note/' + note.id}">Edit</a> - <a th:href="${'/app/note/delete/' + note.id}">Delete</a></li>
            </ul>
            <hr />
            <p>
                <a class="btn btn-primary btn-lg" href="/app/note/new">New Note</a>
            </p>
            <div th:replace="common/template :: footer"></div>
        </div>
    </body>
</html>